<!DOCTYPE html>
<html>
<head>
  <title>Rails vitals</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= yield :head %>

  <%= stylesheet_link_tag    "rails_vitals/application", media: "all" %>
  <%= javascript_include_tag "rails_vitals/application" %>
</head>
<body>
  <nav class="nav">
    <span class="nav-brand">⚡ RailsVitals</span>
    <%= link_to "Dashboard", rails_vitals.root_path %>
    <%= link_to "Requests", rails_vitals.requests_path %>
    <%= link_to "Heatmap", rails_vitals.heatmap_path %>
    <%= link_to "Models", rails_vitals.models_path %>
    <%= link_to "N+1 Patterns", rails_vitals.n_plus_ones_path %>
    <%= link_to "Association Map", rails_vitals.associations_path %>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
